{% extends 'base.html.twig' %}

{% block title %}Autocomplete simple{% endblock %}

{% block body %}
    <h1>Choisissez un pays</h1>

    {{ form_start(form) }}
    {{ form_row(form.country) }}
    <button class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
{% endblock %}
